body {
    background-color: #383838;
}

.box {
    background-color: #FFF;
    border-radius: 3px;
    display: block;
    padding: 1rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

   
.skill {

    border-radius: 3px;
    display: inline-block;
}

.header {
    background-color: #fff;
    color: black;
    margin-bottom: 2rem;
}

.card1 {
    border-radius: 3px;
}

.icons {
    list-style: none;
    padding-left: 0px;
    margin: .25rem;
    margin-top: 0rem;
}

.inlineB {
    display: inline;
    margin-right: 0px;
}

.inlineB2 {
    display: inline;
    margin-left: 0px;
}

.icon {
    display: inline-block;
    padding-left: .5em;
    font-size: 32px;
}

.headers {
    margin-bottom: .25rem;
    padding-left: .25rem;
}

.text {
    padding-left:.25rem;
}

.title {
    margin-top: 0px;
    margin-left: 12px;
}